In [1]:
import numpy as np
import pandas as pd

In [2]:
anime = pd.read_csv('anime.csv')
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [3]:
anime_rating = pd.read_csv('rating.csv')
anime_rating.tail()

        user_id  anime_id  rating
682703     6469   10163.0     5.0
682704     6469   10165.0     7.0
682705     6469   10197.0     6.0
682706     6469   10218.0     8.0
682707     6469       NaN     NaN

In [4]:
anime.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [5]:
anime_rating.isnull().sum()

user_id     0
anime_id    1
rating      1
dtype: int64

In [6]:
anime['type'] = anime['type'].fillna('None')
anime['genre'] = anime['genre'].fillna('None')
anime['rating'] = anime['rating'].fillna('None')
anime.isnull().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [7]:
anime_rating.rating.unique()

array([-1., 10.,  8.,  6.,  9.,  7.,  3.,  5.,  4.,  1.,  2., nan])

In [8]:
anime_rating = anime_rating[anime_rating.rating > 0] # to keep ratings only between 1-10
anime_rating.rating.unique()

array([10.,  8.,  6.,  9.,  7.,  3.,  5.,  4.,  1.,  2.])

In [9]:
anime_rating['user_anime_count'] = anime_rating.groupby('user_id')['user_id'].transform(np.count_nonzero)
anime_rating.tail()

        user_id  anime_id  rating  user_anime_count
682702     6469   10161.0     7.0               463
682703     6469   10163.0     5.0               463
682704     6469   10165.0     7.0               463
682705     6469   10197.0     6.0               463
682706     6469   10218.0     8.0               463

In [10]:
anime_rating = anime_rating[anime_rating.user_anime_count > 19] # only keep users that have seen at least 20 anime
anime_rating.tail()

        user_id  anime_id  rating  user_anime_count
682702     6469   10161.0     7.0               463
682703     6469   10163.0     5.0               463
682704     6469   10165.0     7.0               463
682705     6469   10197.0     6.0               463
682706     6469   10218.0     8.0               463

In [11]:
anime_rating = anime_rating.drop('user_anime_count', axis=1) # dropping the user count column as it is no longer required